/* group rules*/

:root {
    --header-color: #5e86da;
    --bullet-color: #f6af50;
    --travel-main: #997fce;
    --travel-accent: #00cecb;
    --travel-accent-2: #ff508a;
}

h3 {
    color: var(--header-color);
    text-align: left;
    font-size: 40px;
}

.travel_h3 {
    color: var(--travel-accent-2);
}

h4 {
    font-size: 25px;
}

.travel_xp_page h4 {
    color: var(--travel-main);
}

html {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.new_main {
    width: 100%;
    max-width: 100%;
    /*overflow-x: hidden;*/
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(60px + 2rem); /* originally 60px */
    min-height: 100vh;
    margin: 0 8rem;
    /*overflow-x: hidden;*/
}

/* gif phone */

.phone_container {
    position: relative;
    display: inline-block;
}

.fit_you_gif {
    height: 700px;
    max-height: 100%;
}

.shadow {
    position: absolute;
    bottom: 100px; /* Adjust distance below the GIF */
    left: 50%;
    width: 80%;
    height: 20px;
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.3) 20%,
        rgba(0, 0, 0, 0) 80%
    );
    transform: translateX(-50%);
    border-radius: 50%;
    filter: blur(8px); /* Softens the shadow */
    z-index: -1; /* Ensures it stays behind */
}

/* Overview */

.text_pic_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 100%;
}

.android_phone_img {
    height: 500px;
    max-height: 100%;
}

.title_container {
    padding-bottom: 10px;
}

.pic_container {
    display: flex;
    justify-content: center;
}

/* all info sections */

.info_section {
    padding-bottom: 40px;
    width: 100%;
    max-width: 100%;
    /*overflow-x: hidden; */
}

.text_container {
    width: 100%;
    max-width: 100%;
    /*overflow-x: hidden;*/
}

/* Competition section */

.sub_header {
    padding-bottom: 10px;
}

.list_info {
    padding-bottom: 20px;
}

.list_pic_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.list ul {
    list-style: none;
    padding-left: 20px;
}

.list ul li {
    position: relative;
    padding-left: 20px;
    padding-bottom: 30px;
}

.list ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 8px;
    height: 8px;
    border: 2px solid var(--bullet-color);
    border-radius: 50%;
}

.screen_img {
    height: 450px;
}

/* -- Travel XP Competition -- */

.travel_xp_page .list ul li::before {
    border: 2px solid var(--travel-accent);
}

/* Personas */

.p_text {
    margin-bottom: 20px;
}

.group_persona {
    width: 60%;
}

.persona_group_1 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.persona_group_2 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}

.persona_group_3 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}

.persona_info_wrapper {
    background-color: #e4e4e4;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    width: 100%;
    max-width: 100%;
}

.persona {
    display: flex;
    justify-content: center;
}

.persona_info {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 20px;
    align-items: center;
}

.persona_img {
    width: 200px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    margin-bottom: 20px;
}

.persona_name {
    text-decoration: 5px underline var(--bullet-color);
    text-align: center;
}

.horizontal_list {
    display: flex;
    /*flex-wrap: wrap;*/
    gap: 20px;
    max-width: 100%;
    padding: 20px 0;
    flex-direction: column;
}

.list_text {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.goals {
    display: flex;
    align-items: center;
    gap: 10px;
}

.persona_all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.group_persona {
    width: 30%;
    min-width: 300px;
    padding: 0 20px;
}

/* User Needs / Solutions */

.user_need_img {
    border-radius: 10px;
    max-height: 90%;
    max-width: 90%;
}

/* User Stories*/

.diagram_img {
    height: 680px;
}

/* -- Travel XP User Stories -- */

.box-bg {
    background-color: #35385a;
    border-radius: 10px;
    padding: 10px;
}

/*Low Fidelity Wireframes*/

.phone_fidelity_container {
    gap: 20px;
}

.android_screen_img {
    height: 400px;
}

.phone_title {
    text-align: center;
    padding-bottom: 10px;
}

.lo_mid_fi_screens {
    row-gap: 20px;
}

/*Native App Designs*/

.app_design_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.typography_color_container {
    display: flex;
    gap: 10%;
}

.color_row {
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-bottom: 20px;
}

.color_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.color_circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.color_1 {
    background-color: var(--header-color);
}

.color_2 {
    background-color: var(--bullet-color);
}

.color_3 {
    background-color: #525252;
}

.color_4 {
    background-color: #adafbc;
}

.color_5 {
    background-color: #e4e4e4;
}

.color_text {
    text-align: center;
    padding-top: 5px;
}

.native_icon_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.fit_icons {
    height: 60px;
}

/* -- travel XP colors -- */
.travel_color_1 {
    background-color: #35385a;
}

.travel_color_2 {
    background-color: var(--travel-main);
}

.travel_color_3 {
    background-color: var(--travel-accent);
}

.travel_color_4 {
    background-color: #ff508a;
}

.travel_color_5 {
    background-color: #fcfc8e;
}

.travel_color_6 {
    background-color: #d9ccff;
}

.travel_color_7 {
    background-color: #c7c4cf;
}

.travel_color_8 {
    background-color: #ffffff;
}

/* Final Study */

.fit_ios_final {
    height: 500px;
}

.final_phone {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
    margin: 0 10px;
}

.paragraph_info {
    padding-bottom: 20px;
}

/* Takeaways */

.takeaway_img {
    max-width: 90%;
}

/* Media Queries */

@media (max-width: 1024px) and (min-width: 769px) {
    .user_need_img {
        height: 60%;
    }

    .diagram_img {
        height: 600px;
    }

    .list ul {
        padding-left: 0px;
        padding-right: 20px;
    }

    /* -- Travel XP Personas -- */

    .travel_persona {
        width: 400px;
        height: 250px;
    }

    /* -- Travel XP Style Guide -- */

    .travel_icons {
        width: 600px;
    }
}

@media (max-width: 768px) {
    .list ul {
        padding-left: 0px;
        padding-right: 20px;
    }

    #stretch_img {
        overflow: hidden;
    }

    .screen_img {
        height: 350px;
    }

    .android_screen_img {
        height: 300px;
    }

    .persona_all {
        justify-content: center;
    }

    .color_row {
        gap: 50px;
    }

    .fit_icons {
        height: 40px;
    }

    /* -- Travel XP Personas -- */

    .travel_persona {
        height: 170px;
    }

    /* -- Travel XP User Stories -- */

    .diagram_img {
        height: 400px;
    }

    /* -- Travel XP Style Guide -- */

    .travel_icons {
        width: 600px;
    }
}

@media (min-width: 426px) and (max-width: 767px) {
    .text_pic_container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 100%;
    }

    .list_pic_container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .pic_container {
        flex-direction: column;
        align-items: center;
    }

    .diagram_img {
        width: 100%;
        max-width: 500px;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .typography_color_container {
        flex-direction: column;
    }

    .native_icon_container {
        flex-wrap: wrap;
        justify-content: start;
    }

    .color_row {
        gap: 70px;
    }

    .fit_icons {
        height: 50px;
        padding: 5px;
    }
}

@media (max-width: 425px) {
    .main {
        margin: 0 2rem;
    }

    .fit_you_gif {
        height: 350px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 20px;
    }

    .text_pic_container {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        max-width: 100%;
    }

    .android_phone_img {
        height: 300px;
    }

    .list_pic_container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .diagram_img {
        height: 400px;
    }

    .list ul {
        padding-right: 0px;
    }

    .pic_container {
        flex-direction: column;
        align-items: center;
    }

    .typography_color_container {
        flex-direction: column;
    }

    .color_container {
        padding-top: 20px;
    }

    .native_icon_container {
        flex-wrap: wrap;
        justify-content: start;
    }

    .fit_icons {
        padding: 0 10px 10px 10px;
    }

    .fit_ios_final {
        height: 350px;
    }
}

@media (max-width: 375px) {
    .color_row {
        gap: 30px;
    }
}
