/* INDEX */

main {
    display: flex;
    padding-top: calc(60px + 1rem);
    flex: 1;
    flex-direction: column;
    min-height: 0;
}

h1 {
    letter-spacing: 2px;
}
h2 {
    letter-spacing: 2px;
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: calc(56px + 2rem);
    /* min-height: 100vh; */
    text-align: center;
}

.heading_index,
.text_intro {
    width: 80%;
    height: auto;
}

.heading_index {
    font-size: 2rem;
}

.text_intro {
    margin: 1rem 0;
    font-size: 1.5rem;
}

#bell_gif {
    /*max-width: 300px;*/
    width: 30%;
}

.specialties {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 5%;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

.specialties h3 span {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    .main_content {
        padding-top: 20px;
    }

    .heading_index,
    .text_intro {
        width: 100%;
        height: auto;
    }

    .heading_index {
        font-size: 1.5rem;
    }

    .text_intro {
        font-size: 1.2rem;
    }

    .specialties {
        flex-wrap: wrap;
        gap: 20px 20px;
    }
}

@media (max-width: 426px) {
    .heading_index,
    .text_intro {
        max-width: 100%;
    }

    .heading_index {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .text_intro {
        font-size: 1rem;
    }

    #bell_gif {
        width: 70%;
    }

    .specialties {
        flex-direction: column;
    }
}

@media (max-width: 376px) {
    .heading_index,
    .text_intro {
        max-width: 100%;
    }

    h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1rem;
    }
}

@media (max-width: 321px) {
    .heading_index,
    .text_intro {
        max-width: 100%;
    }

    .main_content {
        width: 100%;
    }

    h2 {
        font-size: 1rem;
    }

    #bell_gif {
        width: 70%;
    }

    .specialties {
        margin-bottom: 0px;
    }
}
