main {
    padding-top: calc(60px + 2rem);
    margin: 0 2.7rem;
}

.header {
    text-align: center;
    padding-bottom: 10px;
}

.text_area {
    padding: 0px 0px 20px 0px;
    text-align: center;
}

.card_section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    padding: 20px 20px 100px 20px;
}

.card_area {
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
}

.card_area:hover {
    transform: scale(1.1);
}

.card_img {
    width: 100%;
}

.card_text {
    padding: 10px;
}
